/* header */

.header {
  position: fixed;
  background-color: #0059ff;
  width: 1.5cm;
  height: 100%;
}

.header a {
  display: block;
  width: 80%;
  margin: 1mm auto;
}

.header a.header_icon_down {
  position: absolute;
  left: 1.5mm;
  bottom: 5mm;
}

.header a img {
  width: 100%;
  border-radius: 100%;
}

.header a img:hover {
  opacity: 0.5;
}
