/* setup */
.setup input {
  display: block;
  margin: 2vh auto;
}
.setup img {
  width: 30vw;
  height: auto;
  display: block;
  margin: 5vh auto;
  border-radius: 100%;
}
/* form */
input[type="text"],
input[type="password"],
input[type="mail"] {
  height: 1.6em;
  font-size: 1.6em;
}
input[type="button"],
input[type="submit"] {
  border: hidden;
  border-radius: 20px;
  background-color: #0059ff;
  padding: 2mm 3mm;
  color: white;
}
/* search box */
.searchbox .searchbox_form input[type="text"] {
  width: 70vw;
}
/* dialog */
dialog {
  border-radius: 10px;
  border: hidden;
}
dialog button.close_button {
  border: hidden;
  background-color: transparent;
  font-size: 1.6em;
}
/* registhash dialog */
.dialog_registhash * {
  display: block;
  margin: 2vh 2vw;
}
.dialog_registhash select {
  font-size: 1.4em;
}
.dialog_registhash [type="submit"] {
  margin: 2vh auto;
}
.dialog_registhash [type="submit"][disabled] {
  background-color: #84afff;
}
.dialog_registhash textarea {
  height: 1.6em;
  font-size: 1.6em;
  width: 40vw;
}
/* tweet dialog */
.dialog_tweetdialog img {
  display: inline-block;
}
.dialog_tweetdialog div {
  display: inline-block;
  vertical-align: top;
}
.dialog_tweetdialog div textarea {
  border: hidden;
  width: 60vw;
  height: 20vh;
  font-size: 1.2em;
}
.dialog_tweetdialog div [type="submit"] {
  position: absolute;
  right: 2vw;
  bottom: 0.5vw;
}
.dialog_tweetdialog div [type="submit"][disabled] {
  background-color: #84afff;
}
/* hashtag list */
.hashtaglist .hashtaglist_row {
  font-size: 1.6em;
  margin: 1vh 0 0 1vw;
  border-bottom: solid 1px #e4e4e4;
}
.hashtaglist .hashtaglist_row .remove {
  position: absolute;
  right: 0;
}
/* header */
.header {
  position: fixed;
  background-color: #0059ff;
  width: 1.5cm;
  height: 100%;
}
.header a {
  display: block;
  width: 80%;
  margin: 1mm auto;
}
.header a.header_icon_down {
  position: absolute;
  left: 1.5mm;
  bottom: 5mm;
}
.header a img {
  width: 100%;
  border-radius: 100%;
}
.header a img:hover {
  opacity: 0.5;
}
@media (max-width: 500px) {
  .header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 1.5cm;
  }
  .header a {
    display: inline-block;
    width: 10vw;
    margin: 2mm 1mm;
  }
  .header a.header_icon_down {
    display: block;
    position: absolute;
    width: 10vw;
    left: 85vw;
    top: 0;
    margin: 2mm 1mm;
  }
  .header a img {
    width: 90%;
    border-radius: 100%;
  }
}
/* main */
main {
  position: absolute;
  left: 1.8cm;
  width: 90vw;
}
main.nonheader {
  left: 0cm;
  width: 100vw;
}
/* common */
h1 {
  color: #0059ff;
  text-align: center;
}
h3 {
  color: #0059ff;
  font-size: 2em;
}
h4 {
  color: #0059ff;
  margin: 0;
}
a {
  color: #0059ff;
  text-decoration: underline #0059ff;
}
a:hover {
  cursor: pointer;
  color: #ff0062;
  text-decoration: underline #ff0062;
}
label {
  display: block;
  margin: 3vh auto;
  text-align: center;
  font-size: 1.2em;
  color: #0059ff;
}
label input {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.webform input[type="submit"] {
  display: block;
  margin: 1cm auto;
  font-size: 5mm;
  padding: 5mm;
}
.webform a {
  margin: 4mm;
}
@media (max-width: 500px) {
  main {
    position: absolute;
    left: 0cm;
    top: 2cm;
    width: 100%;
  }
}
/* domain selector */
.domainlist a {
  display: inline-block;
  padding: 3mm 4mm 2mm 4mm;
  color: #0059ff;
  text-decoration-color: transparent;
  font-size: 1.2em;
}
.domainlist a.selected {
  border-bottom: solid 3px #0059ff;
}
.domainlist a:hover {
  background-color: #cadcff;
}
/* pageheader_categorylist */
.pageheader_categorylist a {
  display: inline-block;
  padding: 3mm 4mm 2mm 4mm;
  color: #0059ff;
  text-decoration-color: transparent;
  font-size: 1.2em;
}
.pageheader_categorylist a.selected {
  border-bottom: solid 3px #0059ff;
}
.pageheader_categorylist a:hover {
  background-color: #cadcff;
}
/* tweet */
.tweetbody {
  padding: 1vh 0 0 2vw;
  border-bottom: solid 1px #e4e4e4;
}
.tweetbody.reply {
  margin-left: 2.5vw;
  border-left: 10px solid #84afff;
}
.tweetbody:hover {
  background-color: #e6e6e6;
}
.tweetbody a {
  text-decoration-line: none;
  padding: 0;
  margin: 0;
}
.tweetbody img {
  width: 15mm;
  margin: 4px 4px;
}
.tweetbody img,
.tweetbody div {
  display: inline-block;
}
.tweetbody div {
  width: 60vw;
  vertical-align: top;
}
.tweetbody div .tweetbody_header * {
  display: inline-block;
  margin: 2mm 1vw 2mm 0;
}
.tweetbody div .tweetbody_tweet {
  word-break: break-word;
}
.tweetbody div .tweetbody_tweet a:hover {
  text-decoration-line: underline;
}
.tweetbody_header_username {
  font-weight: bold;
}
.tweetbody_header_usermail {
  color: #575757;
}
.tweetbody_header_time {
  color: #575757;
  position: absolute;
  right: 3vw;
}
@media (max-width: 500px) {
  .tweetbody div .tweetbody_footer {
    position: relative;
    left: -10vw;
    width: 110%;
  }
}
.tweetbody div .tweetbody_footer * {
  margin: 2vh 2vw 2vh 6vw;
  height: 4vh;
  width: auto;
  vertical-align: middle;
}
.tweetbody div .tweetbody_footer span {
  margin: 0;
}
.tweetbody div .tweetbody_footer button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 3vh 0;
}
